/target/
private.properties
*private.properties
*/private.properties
**/private.properties
installation.properties
*installation.properties
*/installation.properties
**/installation.properties
.classpath
.project
